{% include double-image.html
url1="/uploads/2019/07/17/stock-photo-74582179.jpg"
caption1="Test Caption"
title1="Test Title"

url2="/uploads/2019/07/17/stock-photo-74582179.jpg"
caption2="Test Caption"
title2="Test Title"
%}
