// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.link-block {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 40px;
}

a.link-block__text {
  z-index: 1;

  &:visited {
    color: #000;
  }
}

.btn-back {
  @extend %link-block__text;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px 12px;
  color: #fff;
  background: #000;

  &:visited {
    color: #fff;
  }
}
