// -----------------------------------------------------------------------------
// This file contains all styles related to the meta-list component.
// -----------------------------------------------------------------------------
ul.meta-list,
ul.meta-list ul {
	margin: 0;
	padding: 0;
	li {
		//margin: 0 0 4px 0;
		line-height: 1.15;
		list-style: none;
		padding: 0;
		color: $color-text-gray-70;
		@include fontSize(15px);

		@include breakpoint('md') {
			@include fontSize(16px);
		}
	}
}

aside {
	padding-top: 8px;
	margin-bottom: 24px;

	@include breakpoint('sm') {
		display: flex;
		width: 61.8%;
	}

	@include breakpoint('md') {
		width: calc(38.2% - 4vw);
		max-width: 200px;
		margin-right: 3vw;
		float: left;
		flex-direction: column;
	}

	@include breakpoint('lg') {
		max-width: 250px;
		margin-right: calc(#{$max-width} * 0.04);
	}

	li {
		margin-bottom: 12px;

		@include breakpoint('sm') {
			width: 160px;
			margin-right: 24px;
		}

		@include breakpoint('md') {
			width: 100%;
			margin-right: 0;
			margin-bottom: 1rem;
		}
	}
}
