// -----------------------------------------------------------------------------
// This file contains all styles related to the image block component in a project.
// -----------------------------------------------------------------------------

.project__block {
	margin: auto;
	&--wide {
		@include breakpoint('lg') {
			width: 80%;
			margin: 24px auto;
		}
	}

	&--center {
		@include breakpoint('lg') {
			max-width: 680px;
			margin: 24px auto;
		}
	}

	&--small {
		display: flex;
		flex-direction: column;

		@include breakpoint('md') {
			margin-right: 0;
			width: 50%;
			max-width: 400px;
			float: right;
		}
	}
}

@import 'block-image', 'block-aside';
