// -----------------------------------------------------------------------------
// This file contains all styles related to the post block component.
// -----------------------------------------------------------------------------

.post-block__img {
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: auto;

  img {
    position: relative;
    width: 66%;
    //max-width: 400px;
    height: auto;
    @include breakpoint('medium') {
      width: 100%;
    }
  }
}

.post-block-container {
  display: grid;
  grid-row-gap: 24px;
  grid-template-areas: 'postimg' 'postinfo';
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include breakpoint('medium') {
    grid-column-gap: 40px;
    grid-template-areas: 'postinfo postimg';
    grid-template-columns: 66% auto;
    grid-template-rows: auto;
  }

  margin-bottom: 64px;
}

.post-block__info {
  display: flex;
  grid-area: postinfo;
  margin-top: 24px;
  @include breakpoint('medium') {
    margin-top: 40px;
  }

  .post-block__right {
    flex-grow: 2;
  }

  h3 {
    margin: 0 0 0.5rem !important;
  }

  p {
    @extend %body-text__large;
    max-width: 600px;
    margin-bottom: 1rem;
    padding: 0 0 0.5rem;
    border-bottom: 1px solid $color__black-40;
  }
}

.post-block-container .post-img__container {
  grid-area: postimg;
}

.post-block__left {
  display: flex;
  align-content: flex-start;
  padding-right: 1rem;
}

.post-date {
  @extend %post-date;
}

.post-date__line {
  width: 16px;
  height: 50px;
}

.post-block__links {
  display: flex;
}
