<footer class="site-footer">
	<div class="site-footer-container">
		<div class="site-footer__img">
			<img src="{{ '/assets/images/Thinker.png' | relative_url }}" alt="The Thinker on a Phone Illustration"
				title="The Thinker on a Phone Illustration" />
		</div>

		<section class="site-footer__info">
			<div class="site-footer__social">
				<ul class="site-footer__contact">
					{% for item in site.data.Footer.contact_info %}
					<li>
						<div class="social-icon">
							<a href="{{ item.url }}">
								<img src="{{ item.icon | relative_url }}" alt="{{ item.title }}" title="{{ item.title }}" height:"40px"
									width: "40px" />
							</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="site-footer__message">
				{{ site.data.Footer.footer_msg }}
				<div class="site-footer__email">
					{{ site.data.Footer.email }}
				</div>
				<div class="site-footer__copyright">
					&copy;{{ site.time | date: '%Y' }} {{ site.data.Footer.copyright }}
				</div>
			</div>
		</section>
	</div>

	<section class="site-footer__btt">{% include back-to-top.html %}</section>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ '/assets/js/bundle.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/navigation.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/masonry.js' | relative_url }}" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>
<script crossorigin="anonymous"
	src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"></script>
