<footer class="site-footer h-card">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>
	<div class="wrapper">
		<h2 class="footer-heading">{{ site.title | escape }}</h2>
		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">

			</div>
			<div class="footer-col footer-col-2"> {%- include social.html -%} </div>
			<div class="footer-col footer-col-3">
				<p>{{- site.description | escape -}}</p>
			</div>
		</div>
	</div>
</footer>
</div><!-- barba-wrapper -->
</div><!-- barba-container -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.js.map"></script>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', () => {
		Barba.Pjax.start();
	});
</script>
