<footer class="site-footer">
	<img
		src="{{ 'assets/_images/img1_detail.png' | relative_url }}"
		alt="Speech Bubble Hokusai Illustration"
		title="Speech Bubble Hokusai Illustration"
	/>
	<section class="site-footer__info">
		<div class="site-footer__message">
			{{ site.data.Footer.footer_msg }}
		</div>
		<div class="site-footer__copyright">
			&copy;{{ site.time | date: '%Y' }} {{ site.data.Footer.copyright }}
		</div>
	</section>

	<section class="site-footer__social">
		<ul class="site-footer__contact">
			{% for item in site.data.Footer.contact_info %}
			<li>
				<div>
					<a href="{{ item.url }}">
						<img
							src="{{ 'item.icon' | relative_url }}"
							alt="{{ item.title }}"
							title="{{ item.title }}"
						/>
					</a>
				</div>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section class="site-footer__btt"></section>
</footer>

<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"
></script>
<script
	src="{{ '/assets/js/bundle.js' | relative_url }}"
	type="text/javascript"
></script>
<script
	src="{{ '/assets/js/main.js' | relative_url }}"
	type="text/javascript"
></script>
<script
	src="{{ '/assets/js/navigation.js' | relative_url }}"
	type="text/javascript"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>
<script
	crossorigin="anonymous"
	src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"
></script>
