<div id="barba-wrapper">
	<div class="barba-container" data-namespace="{% if page.url != '/' %}detail{% else %}MAIN{% endif %}" style="visibility: visible;">
		<header class="site-header" role="banner">
			<div class="wrapper">
				{%- assign default_paths = site.pages | map: "path" -%}
				{%- assign page_paths = site.header_pages | default: default_paths -%}
				<a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

				{%- if page_paths -%}
				<nav class="site-nav">

				</nav>

				{%- endif -%}
			</div>
		</header>