<header class="site-header" role="banner">
	<div class="wrapper">
		{%- assign default_paths = site.pages | map: "path" -%}
		{%- assign page_paths = site.header_pages | default: default_paths -%}
		<a class="site-header__title" rel="author" href="{{ "/" | relative_url }}">
			<img src="{{ '/assets/images/tucker-harris-logo.png' | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}"
				class="site-header__logo" />
				Tucker Harris
		</a>
		<nav class="site-header__nav" role="navigation">
			<ul class="site-nav">
				<li class="menu-item">
					<a href="{{ site.url }}#work" title="Work">work.</a>
				</li>
				<li class="menu-item">
					<a href="{{ site.url }}#about" title="About">about.</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
