<section id="about-container">
  <div id="about-intro">
    <div class="diagonal over-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 10"
        preserveAspectRatio="none"
        fill="#f3f3f3"
      >
        <polygon points="100 0 100 10 0 10" />
      </svg>
    </div>
    <h2 class="over-left">about.</h2>
  </div>
  <div id="about-content">
    <div id="about-para1" class="home-content">
      {{ page.para1 }}
    </div>
    <div id="about-graphic">
      a
    </div>
    <div id="about-quote">
      {{ page.blockquote }}
    </div>
    <div id="about-para2" class="home-content">
      {{ content }}
    </div>
  </div>
</section>
