{% assign projects = page.other_projects %} {% for project in projects %}

<article class="post-block post-block__other" role="article">
	<header class="post-block____other-header" role="header">
		<a href="{{ project.url }}" class="post-block__other-title launch-link" target="_blank">
			<span>{{ project.title }}</span>

			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path class="line" d="M11 7.42857V11H1V1H4.57143" stroke="black" stroke-width="2" />
				<path class="arrow1" d="M4 1H11V8" stroke="black" stroke-width="2" />
				<path class="arrow2" d="M11 1L1 11" stroke="black" stroke-width="2" />
			</svg>


		</a>

	</header>

	<div class="post-block__other-content">
		<div class="post-block__other-role">{{ project.role }}</div>
		<div class="post-block__other-org">{{ project.org }}</div>
		<div class="post-block__other-desc">{{ project.description }}</div>




</article>

{% endfor %}
