{% assign projects = site.projects %} {% for project in projects %}

<article class="post-block__main" role="article">
	<header class="post-block__main-header" role="header">
		<div class="post-block__main-title"><a href="{{ project.url | relative_url }}.html"">{{ project.title }}</a></div>
		<div class=" post-block__main-org">{{ project.org1 }}</div>
	</header>

	<div class="post-block__main-content">
		<img src="{{ project.cover_image | relative_url }}" alt="{{ project.title | escape }}"
			title="{{ project.title | escape }}" class="project-img"/>

{% capture project-title %}
{{ project.title }}{% endcapture %}
			
		{% include btn-launch.html class="main-block" alt=project-title %}
	</div>
</article>

{% endfor %}
