// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Consistent font sizes and pixel fallback.
// Define default font size

@mixin fontSize($size) {
	font-size: $size; //Fallback in px
	font-size: calculateRem($size);
}

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 640px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1400px;

@mixin breakpoint($break) {
	@if $break==2xl {
		@media screen and (min-width: $breakpoint-xxl) {
			@content;
		}
	} @else if $break==xl {
		@media screen and (min-width: $breakpoint-xl) {
			@content;
		}
	} @else if $break==lg {
		@media screen and (min-width: $breakpoint-lg) {
			@content;
		}
	} @else if $break==md {
		@media screen and (min-width: $breakpoint-md) {
			@content;
		}
	} @else if $break==sm {
		@media screen and (min-width: $breakpoint-sm) {
			@content;
		}
	} @else if $break==xs {
		@media screen and (max-width: $breakpoint-xs) {
			@content;
		}
	} @else {
		@media screen and (min-width: $break) {
			@content;
		}
	}
}

// Extend Background to full width of window
@mixin full-width-background(
	$background,
	$direction: '',
	$includeMargins: true
) {
	$width_forumula: calc((100vw - 100%) / 2);
	position: relative;

	@if $includeMargins {
		margin-right: auto;
		margin-left: auto;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		width: $width_forumula;
		height: 100%;
		background: $background;
	}

	&::before {
		right: 100%;
	}

	&::after {
		left: 100%;
	}

	@if $direction==left {
		&::before {
			width: #{$width_forumula} - 50%;
		}

		&::after {
			display: none;
		}
	} @else if $direction==right {
		&::after {
			width: #{$width_forumula} - 50%;
		}

		&::before {
			display: none;
		}
	}
}

// Box Shadow
/* @include box-shadow(1px,1px,1px,0, #fff, true); */
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
	@if $inset {
		box-shadow: inset $top $left $blur $size $color;
	} @else {
		box-shadow: $top $left $blur $size $color;
	}
}
