/*====================================
=            Placeholders            =
====================================*/
%body-text {
	display: block;
	font-family: $font-sans;
	font-style: normal;
	font-weight: normal;
	@include fontSize(17px);
	line-height: 1.7;
	color: $color-text-gray-90;

	@include breakpoint('md') {
		@include fontSize(18px);
	}
}

%body-text-sm {
	display: block;
	font-family: $font-sans;
	font-style: normal;
	font-weight: normal;
	@include fontSize(15px);
	line-height: 1.35;
	color: $color-text-gray-70;

	@include breakpoint('md') {
		@include fontSize(16px);
	}
}

%button-text {
	display: block;
	font-family: $font-sans;
	font-style: normal;
	font-weight: bold;
	@include fontSize(12px);
	line-height: 100%;
	color: $color-text-gray-90;
}

%serif-base {
	font-family: $font-serif;
	letter-spacing: 0.03em;
	font-weight: normal;
}

%button-bold {
	font-family: $font-sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
}

%blockquote {
	display: block;
	position: relative;
	@extend %serif-base;
	@include fontSize(24px);
	line-height: 1.35;
	color: $color-text-gray-90;
	z-index: 1;

	@include breakpoint('lg') {
		@include fontSize(28px);
	}

	&:after {
		height: auto;
		width: 56px;
		display: block;
		position: absolute;
		content: url('#{$imgpath}/quotes-sm.svg');
		z-index: -1;
		bottom: 0;
		left: calc(100% - 56px);

		@include breakpoint('lg') {
			content: url('#{$imgpath}/quotes-lg.svg');

			width: 72px;
			left: calc(100% - 72px);
		}
	}
}

%figcaption {
	padding-top: 8px;
	border-top: 1px solid $color-line-gray-30;
	margin-bottom: 24px;
	@extend %body-text-sm;
}

%large-text {
	display: block;
	position: relative;
	@extend %serif-base;
	@include fontSize(28px);
	line-height: 1.15;
	color: $color-text-gray-90;
	z-index: 1;

	@include breakpoint('lg') {
		@include fontSize(30px);
	}
}

%list-border {
	border-top: 1px solid $color-line-gray-30;
}
