// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
@font-face {
	font-family: 'freigbigproboo';
	src: url('../fonts/freigbigproboo-webfont.woff2') format('woff2'),
		url('../fonts/freigbigproboo-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$font-sans: 'Inter', sans;
$font-serif: 'freigbigproboo', sans-serif;

// -----------------------------------------------------------------------------
// Colors.
// -----------------------------------------------------------------------------
$bg-color: #ddd;
$bg-color__dark: #010101;
$color__black-40: rgba(#000, 0.4);

$text-color__black: #000;
$color__black-60: rgba(#000, 0.6);

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

$diag_height_s: 100px;
$diag_height_m: 150px;
$diag_height_l: 200px;
$diag_height_xl: 250px;

$page-margins_l: 6vw;
$page-margins_overflow: $page-margins_l - 2;
$page-margins_s: 20px;
