// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'kapraneuepro';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/kapraneuepro-boldexpanded-webfont.woff2') format('woff2'),
    url('../fonts/kapraneuepro-boldexpanded-webfont.woff') format('woff');
}

@font-face {
  font-family: 'kapraneuepro';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/kapraneuepro-regularexpanded-webfont.woff2')
    format('woff2'),
    url('../fonts/kapraneuepro-regularexpanded-webfont.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

$font-sans: 'kapraneuepro';
$font-serif: 'Source Serif Pro', serif;

// -----------------------------------------------------------------------------
// Colors.
// -----------------------------------------------------------------------------
$bg-color: #ddd;
$bg-color__dark: #010101;
$color__black-40: rgba(#000, 0.4);

$text-color__black: #000;
$color__black-60: rgba(#000, 0.6);

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

$diag_height_s: 100px;
$diag_height_m: 150px;
$diag_height_l: 200px;
$diag_height_xl: 250px;

$page-margins_l: 6vw;
$page-margins_overflow: $page-margins_l - 2;
$page-margins_s: 20px;
