// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site-footer {
	background-color: $color-primary-gray-light;
	@extend %body-text-sm;
	color: $color-text-gray-90;
	position: relative;

	.site-footer-container {
		display: flex;
		flex-direction: column;
		padding-bottom: 48px;
		width: 100%;
		position: relative;

		@include breakpoint('sm') {
			flex-direction: row;
		}
		@include breakpoint('lg') {
			padding: 0 $page-margins--lg;
			padding-bottom: 0;
		}
		@include breakpoint('xxl') {
			padding: 0 $page-margins--xxl;
			margin: 0 auto;
		}

		&::before {
			display: block;
			content: '';
			position: absolute;
			height: 100%;
			width: 40px;
			background-color: $color-primary-gray-mid;
			width: 100vw;
			height: 100%;
			z-index: 0;
			//@include full-width-background(red, 'left', true);
			//background-color: $color-primary-gray-light;;
		}
	}
	.site-footer__email {
		font-family: $font-serif;
		font-size: 26px;
		border-bottom: 1px solid #000;
		@include breakpoint('md') {
			font-size: 32px;
			max-width: calc(100% - 80px);
		}
		@include breakpoint('lg') {
			font-size: 40px;
			max-width: 700px;
		}
		@include breakpoint('xl') {
			max-width: 800px;
		}
	}
	.site-footer__info {
		display: block;
		margin: 24px $page-margins--xs;
		order: 1;
		width: 100%;
		z-index: 3;
		@include breakpoint('sm') {
			margin: 32px 0;
			padding: 0 $page-margins--sm;
			width: 61.8%;
			order: 2;
		}
		@include breakpoint('md') {
			padding: 0 $page-margins--md;
		}
		@include breakpoint('lg') {
			display: flex;
			flex-grow: 2;
			padding: 0;
			margin: 48px $page-margins--lg 32px $page-margins--lg;
		}
		@include breakpoint('xl') {
			margin: 56px $page-margins--xl 32px $page-margins--xl;
		}
		@include breakpoint('xxl') {
			margin: 80px $page-margins--xxl 40px $page-margins--xxl;
		}
	}
	.site-footer__copyright {
		color: $color-text-gray-60;
		@include fontSize(13px);
		margin-top: 8px;
	}
	.site-footer__img {
		display: block;
		width: 100%;
		height: auto;
		max-width: 350px;
		//margin-right: $page-margins--xs;
		order: 2;
		padding-bottom: 40px;
		overflow: visible;
		position: relative;
		@include breakpoint('sm') {
			width: 50%;
			order: 1;
		}

		img {
			width: 120%;
			max-width: 300px;
			position: relative;
			float: left;
			@include breakpoint('sm') {
				margin-top: -1rem;
				float: right;
			}
			@include breakpoint('lg') {
				width: 100%;
				margin-top: -2rem;
			}
		}
	}
	.site-footer__message {
		order: 1;
		flex-grow: 2;
	}
	.site-footer__social {
		@include breakpoint('lg') {
			order: 5;
		}
	}
	.site-footer__contact {
		list-style: none;
		margin: 0 0 16px 0;
		padding: 0;
		display: flex;

		@include breakpoint('lg') {
			flex-direction: column;
			float: right;
			margin-left: 4vw;
		}

		li {
			margin-right: 12px;
			@include breakpoint('lg') {
				width: 150%;
				order: 1;
				margin-right: 0;
				margin-bottom: 12px;
			}
		}

		.social-icon img {
			display: block;
			width: 40px;
			height: 40px;
		}
	}
	.site-footer__btt {
		order: 3;
		position: absolute;
		bottom: 0;
		max-width: 300px;
		width: 100%;
		right: 0px;
	}
}
