// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
	position: absolute;
	top: 0;
	display: block;
	width: 100vw;
	z-index: 5;
	padding: 8px $page-margins--xs;

	@include breakpoint('sm') {
		padding: 8px $page-margins--sm;
	}

	@include breakpoint('md') {
		padding: 16px $page-margins--md 8px;
	}

	@include breakpoint('lg') {
		padding: 32px $page-margins--lg 8px;
	}

	@include breakpoint('xl') {
		padding: 32px $page-margins--xl 8px;
	}

	@include breakpoint('xxl') {
		padding: 32px $page-margins--xxl 8px;
	}

	.wrapper {
		display: block;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.site-header__title {
	display: flex;
	align-items: center;
	flex-direction: row;
	@include fontSize(24px);
	@extend %serif-base;

	@include breakpoint('md') {
		@include fontSize(26px);
	}

	.site-header__logo {
		display: none;
		height: 32px;
		width: auto;
		margin-right: 12px;

		@include breakpoint('sm') {
			display: block;
		}
	}
}

.site-nav {
	margin: 0;
	display: flex;

	li.main-menu {
		display: flex;
		list-style: none;

		align-items: center;
		@include fontSize(16px);

		&:first-child {
			margin-right: 24px;
		}
		a {
			padding: 8px 4px;
		}
		> a {
			font-weight: bold;
		}
	}
}
$selected: #fff;
$highlight: rgba(0, 0, 0, 0.1);
$white: #fff;
$shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
$shadowB: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
#project-breadcrumbs {
	z-index: 2;
}

.action-btn {
	border: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 2px 4px 2px 8px;
	border-radius: 2px;
	transition: all 0.2s ease;
	background: transparent;

	&:hover {
		background: $highlight;
		color: $color-text-black;
		outline: none;
	}
	&:focus {
		background: $selected;
		color: $color-text-black;
		outline: none;
	}

	span {
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: #000;
			visibility: hidden;
			transform: scaleX(0);
			transition: all 0.3s ease-in-out 0s;
		}
	}
	&:hover:not(:focus) span {
		visibility: visible;
		transform: scaleX(1);
	}
}

ul.action-menu {
	position: absolute;
	padding: 1em;
	box-shadow: $shadowB;
	border-radius: 2px;
	z-index: 1000;
	width: 300px;
	height: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	display: none;
	top: 90%;
	background-color: white;
	li.menu-item {
		width: 100%;

		font-size: 1em;
		background: white;
		border: none;
		text-align: left;
		cursor: pointer;
		transition: all 0.2s ease;
		&:focus,
		&:hover {
			background-color: $highlight;
			outline: none;
		}
		a {
			padding: 8px 12px;
			display: block;
		}
		&:first-of-type {
			margin-top: 12px;
		}

		&:last-of-type {
			margin-bottom: 12px;
		}
	}
}

ul.action-menu.is-active {
	display: block;
}
