// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page section "intro".
// -----------------------------------------------------------------------------
.home {
	$blockClass: &;

	&__intro {
		height: 100vh !important;
		//max-height: 650px;
		background: $color-gradient-graygray;
		width: 100vw;
		overflow: hidden;
		max-height: 700px;

		@include breakpoint('sm') {
			max-height: 1000px;
		}

		@include breakpoint('md') {
			max-height: 800px;
		}

		@include breakpoint('lg') {
			max-height: 950px;
		}
	}

	.section-wrapper {
		height: 100%;
		max-width: $max-width;
		margin: 0 auto;
	}

	.page__title {
		display: none;
	}

	&__intro-bg {
		display: block;
		width: 110vw;
		//max-width: 1000px;
		height: auto;
		position: absolute;
		top: -20px;
		z-index: 0;

		@include breakpoint('md') {
			//width: 75vw;
			width: 100vw;

			margin: 0 auto;
			left: 50%;
			transform: translate(-50%, 0%);
		}
	}

	&__intro-content {
		height: calc(100% - 84px);
		display: flex;
		flex-direction: column;

		@include breakpoint('md') {
			flex-direction: row;
		}

		#{$blockClass}__intro-illustration {
			display: flex;
			height: 61.8%;
			min-height: 400px;
			position: relative;
			align-content: flex-end;
			justify-content: flex-end;
			z-index: 1;

			@include breakpoint('sm') {
				min-height: 500px;
			}

			@include breakpoint('md') {
				height: auto;
				width: 61.8%;
				//max-height: 500px;
				position: relative;
				align-content: flex-start;
				justify-content: flex-end;
			}

			img {
				display: block;
				position: absolute;
				width: 120%;
				bottom: 0px;
				height: auto;
				align-self: flex-end;
				//border: 1px solid white;

				@include breakpoint('sm') {
					min-width: 450px;
				}

				@include breakpoint('md') {
					width: 100%;
					min-width: 550px;
				}
			}
		}

		#{$blockClass}__intro-text {
			margin: 0 $page-margins--xs;
			display: flex;
			flex-direction: column;
			flex-grow: 2;
			position: relative;

			@include breakpoint('sm') {
				margin: 0 $page-margins--sm;
			}

			@include breakpoint('md') {
				margin: 0 $page-margins--md;
				top: 61.8%;
				display: block;
			}

			&:before {
				display: block;
				content: '';
				position: absolute;
				height: 24px;
				width: 38.2vw;
				top: -24px;
				left: -24px;
				background-color: #fff;
				z-index: 0;

				@include breakpoint('sm') {
					left: calc(50% - (38.2% / 2));
					height: 32px;
				}

				@include breakpoint('md') {
					left: 0%;
					top: -16px;
					height: 12px;
					width: 120px;
					background-color: #000;
				}
			}
		}

		#{$blockClass}__heading {
			@include fontSize(26px);
			@extend %serif-base;
			padding: 16px 0;
			line-height: 1.15;

			@include breakpoint('sm') {
				padding: 40px 0 16px;
				@include fontSize(26px);
				text-align: center;
			}

			@include breakpoint('md') {
				padding: 16px 0 16px;
				@include fontSize(26px);
				text-align: left;
			}

			@include breakpoint('lg') {
				padding: 16px 0 24px;
				@include fontSize(32px);
			}

			@include breakpoint('xl') {
				padding: 16px 0 32px;
				@include fontSize(40px);
			}
		}

		#{$blockClass}__desc {
			@extend %body-text-sm;

			@include breakpoint('sm') {
				text-align: center;
			}

			@include breakpoint('md') {
				text-align: left;
			}
		}
	}

	#{$blockClass}__scroll-prompt {
		margin: 0 auto;
		padding-top: 24px;

		svg {
			display: block;
			margin: 0 auto 12px;
		}

		&:after {
			display: block;
			content: '';
			height: 24px;
			width: 1px;
			border-right: 1px solid $color-line-gray-30;
			margin: 0 auto;
		}
	}
}
