// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page section "work".
// -----------------------------------------------------------------------------
.home__work {
	background-color: $color-primary-gray-mid;
	&-main {
		clear: both;
		display: block;
	}

	&-other-container {
		position: relative;
		margin-top: 64px;
		display: flex;
		flex-direction: column;
		@include breakpoint('md') {
			flex-direction: row;
			position: relative;
		}
		> div {
			display: block;
			position: relative;
			width: 100%;
			@include breakpoint('md') {
				width: 50%;
			}
		}
		.other-projects {
			@include breakpoint('lg') {
				width: 61.8%;
			}
		}
		.other-description {
			margin-bottom: 40px;
		}
		.illustration-container {
			display: flex;
			align-content: center;
			justify-content: center;
			@include breakpoint('md') {
				display: flex;
				width: 50%;
				position: relative;
				align-content: flex-start;
				justify-content: flex-end;
				z-index: 1;
				margin-right: 4vw;
			}
			@include breakpoint('lg') {
				margin-right: 4vw;
				width: calc(100% - 61.8%);
			}
			@include breakpoint('xl') {
				margin-right: 56px;
			}

			img {
				width: 100%;
				max-width: 400px;
				margin: 0 auto 32px;

				@include breakpoint('md') {
					position: absolute;
					display: block;
					width: 120%;
					height: auto;
					margin: unset;
					max-width: unset;
				}
				@include breakpoint('lg') {
					width: 140%;
				}
			}
		}
	}
}
