// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page section "about".
// -----------------------------------------------------------------------------

#about-container {
  margin-bottom: 80px;
  background-color: $bg-color;
  @include breakpoint('large') {
    margin-bottom: 120px;
  }

  svg {
    grid-area: aboutdiagonal;
    background-color: #fff;
  }

  h2 {
    grid-area: abouttitle;
    align-self: end;
    min-height: $diag_height_s / 2;
    @include breakpoint('medium') {
      min-height: $diag_height_m / 2;
    }
    @include breakpoint('large') {
      min-height: $diag_height_l / 2;
    }
    @include breakpoint('xlarge') {
      min-height: $diag_height_xl / 2;
    }
  }
}

#about-intro {
  display: grid;
  grid-template-areas: 'aboutdiagonal' 'abouttitle' 'abouttitle';
  grid-template-columns: 1fr;
  grid-template-rows: ($diag_height_s / 2) auto auto;
  @include breakpoint('medium') {
    grid-template-areas: 'aboutdiagonal' 'abouttitle' 'abouttitle';
    grid-template-columns: 1fr;
    grid-template-rows: ($diag_height_m / 2) auto;
  }
  @include breakpoint('large') {
    grid-template-areas: 'aboutdiagonal' 'abouttitle' 'abouttitle';
    grid-template-columns: 1fr;
    grid-template-rows: ($diag_height_l / 2) auto auto;
  }
}

#about-content {
  display: grid;
  grid-template-areas: 'about1' 'aboutgraphic' 'aboutquote' 'about2';
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include breakpoint('medium') {
    grid-column-gap: 48px;
    grid-row-gap: 24px;
    grid-template-areas: 'about1 about1' 'aboutgraphic aboutquote' 'about2 about2';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
  @include breakpoint('large') {
    grid-column-gap: 48px;
    grid-row-gap: 32px;
    grid-template-areas: 'aboutgraphic about1' 'aboutgraphic aboutquote' 'aboutgraphic about2';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
  @include breakpoint('xlarge') {
    grid-column-gap: 64px;
  }

  #about-para1 {
    grid-area: about1;
    @extend %body-text__large;
  }

  #about-para2 {
    grid-area: about2;
    @extend %body-text__large;
  }

  #about-graphic {
    grid-area: aboutgraphic;
    width: 300px;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;

    opacity: 0.5;
    @include breakpoint('medium') {
      margin: unset;
    }
    @include breakpoint('large') {
      width: 100%;
      max-width: unset;
    }
  }

  #about-quote {
    grid-area: aboutquote;
    @extend %blockquote__quote;
  }

  .home-content {
    justify-self: end;
  }
}
