// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page section "intro".
// -----------------------------------------------------------------------------
#intro-container {
  display: grid;
  grid-column-gap: 32px;
  grid-template-areas: 'introwrds introwrds' 'intrographic intrographic' 'intrographic intrographic' 'introsubtitle introdesc';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 10vh auto auto;
  background-color: $bg-color;
  @include breakpoint('medium') {
    grid-template-areas: 'introwrds introwrds' 'intrographic introsubtitle' 'intrographic introsubtitle' 'introdesc introdesc';
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 32px auto auto;
  }
  @include breakpoint('large') {
    grid-template-areas: 'introwrds introwrds' 'intrographic introsubtitle' 'intrographic introsubtitle' 'intrographic introdesc';
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 40px min-content 2fr;
  }
  @include breakpoint('xlarge') {
    grid-template-areas: 'introwrds introwrds' 'intrographic introsubtitle' 'intrographic introsubtitle' 'intrographic introdesc';
    grid-template-rows: auto 64px auto 2fr;
  }
}

#intro-wrds {
  z-index: 0;
  grid-area: introwrds;
  grid-row: 1 / span 2;
  align-items: end;
  height: 300px;
  opacity: 0.7;
  @include breakpoint('small') {
    z-index: 5;
  }
}

#intro-graphic {
  grid-area: intrographic;
  opacity: 0.5;
}

#intro-subtitle {
  @extend %sub-title;
  grid-area: introsubtitle;
  opacity: 0.5;
}

#intro-desc {
  grid-area: introdesc;
}
