// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page section "about".
// -----------------------------------------------------------------------------
.home__about {
	background: $color-primary-gray-mid;
	.home__section-header {
		text-align: right;
	}

	.home__section-header:after {
		left: calc(100% - 61.8% + 2vw);
	}
	.list-border {
		padding-top: 12px;
		@extend %list-border;
	}
	.section-content {
		//max-width: $max-width--content;
		margin: 0 auto;
		//padding: 0 0 54px 0;
		background: $color-primary-gray-light;

		p {
			max-width: 680px;
			margin: 0 0 24px auto;
		}

		blockquote {
			margin: 0 0 40px auto;
			width: 100%;
			max-width: 680px;

			p {
				width: 100%;
				max-width: 680px;
				@extend %blockquote;

				@include breakpoint('md') {
					margin: 40px 0 0 auto;
					//width: calc(61.8% - #{$page-margins--md});
				}

				@include breakpoint('lg') {
					//width: calc(61.8% - #{$page-margins--lg});
				}

				@include breakpoint('xl') {
					//width: calc(61.8%);
				}

				@include breakpoint('xxl') {
					//width: calc(61.8% - #{$page-margins--xxl});
				}
			}

			footer {
				margin-top: 8px;
				@extend %body-text-sm;
			}
		}

		img {
			width: 100%;
			display: block;
			margin: 40px auto 24px;

			@include breakpoint('sm') {
				width: 61.8%;
				max-width: 250px;
			}

			@include breakpoint('md') {
				width: 38.2%;
				margin: 0 54px 24px 0;
				float: left;
			}

			@include breakpoint('lg') {
				margin: 0 64px 24px 0;
			}

			@include breakpoint('xl') {
				width: calc(38.2% - (#{$page-margins--xl} / 2));
			}

			@include breakpoint('xxl') {
				max-with: 300px;
				margin: 0 72px 24px 0;
			}
		}
	}
}

/* 	&:after {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		bottom: 0%;
		background-color: $color-primary-gray-light;
	} */
