// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page section "work".
// -----------------------------------------------------------------------------

#work-container {
  .diagonal {
    grid-area: workdiagonal;
  }

  h2 {
    grid-area: worktitle;
    //height: $diag_height_s / 2;
    @include breakpoint('medium') {
      //height: $diag_height_m / 2;
    }
    @include breakpoint('large') {
      //height: $diag_height_l / 2;
    }
    @include breakpoint('xlarge') {
      //height: $diag_height_xl / 2;
    }
  }
}

#work-graphic {
  grid-area: workgraphic;
  height: auto;
  @include breakpoint('large') {
    max-height: 300px;
  }
}

#work-desc {
  grid-area: workdesc;
  max-width: 680px;
  height: 300px;
}

#work-intro {
  display: grid;
  grid-column-gap: 32px;
  grid-template-areas: 'workdiagonal workdiagonal' 'worktitle worktitle' 'worktitle worktitle' 'workdesc workgraphic';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: ($diag_height_s / 2) auto auto;
  @include breakpoint('medium') {
    grid-column-gap: 40px;
    grid-template-areas: 'workdiagonal workdiagonal' 'worktitle worktitle' 'worktitle worktitle' 'workdesc workgraphic';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: ($diag_height_m / 2) auto auto;
  }
  @include breakpoint('large') {
    grid-column-gap: 40px;
    grid-template-areas: 'workdiagonal workdiagonal' 'worktitle workgraphic' 'worktitle workgraphic' 'workdesc workgraphic';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: ($diag_height_l / 2) auto auto;
  }
}

#work-more {
  h3 {
    @extend %sub-title;
  }

  ul {
    margin-left: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0 0 0.25rem;
    }

    li a {
      display: inline-block;
    }
  }

  .external-icon {
    display: inline-block;
  }
}
