html {
	box-sizing: border-box;
	overflow: auto;
	overflow-x: hidden;
	font-size: 100%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
