html {
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#post-header,
.page-content section,
.post-content {
  width: 100vw !important;
  padding: 0 $page-margins_s;
  overflow-x: hidden;

  @include breakpoint('large') {
    padding: 0 $page-margins_l;
  }
}

.over-right {
  width: calc(100% + (#{$page-margins_s} + 24px));

  @include breakpoint('medium') {
    width: calc(100% + (#{$page-margins_l} + 24px));
  }

  //margin-left: $page-margins_l;
}

.over-left {
  width: calc(100% + (#{$page-margins_s} + 24px));
  margin-left: calc((#{$page-margins_s} + 24px) * -1);

  @include breakpoint('medium') {
    width: calc(100% + (#{$page-margins_l} + 24px));
    margin-left: calc((#{$page-margins_l} + 24px) * -1);
  }
}

.over-full {
  width: calc(100% + ((#{$page-margins_s} + 24px)) * 2);
  margin-left: calc((#{$page-margins_s} + 24px) * -1);

  @include breakpoint('medium') {
    width: calc(100% + ((#{$page-margins_l} + 24px)) * 2);
    margin-left: calc((#{$page-margins_l} + 24px) * -1);
  }
}
