body,
button,
input,
select,
textarea {
  //  @extend %body-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %body-text;
}

/*================================
=            Headings            =
================================*/

h1 {
  //@extend %h1 !optional;
  margin: 1rem 0;
}

h2 {
  //@extend %h2 !optional;
  margin: 0 0 1rem;
}

.home h2 {
  @extend %large-heading;
}

h3 {
  //@extend %h3 !optional;
}

h4 {
  //@extend %h4 !optional;
  margin: 0.75rem 0;
}

/*============================
=            Copy            =
============================*/

p {
  @extend %body-text;
}

@for $i from 2 through 6 {
  p + h#{$i},
  ul + h#{$i},
  ol + h#{$i} {
    margin-top: 2.5rem;
  }
}

hr {
  clear: both;
  height: 1px;
  margin: 2rem 0;
  border: 0;
}

b,
strong {
  font-weight: 600;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

p {
  margin-bottom: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*=============================
=            Links            =
=============================*/

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:visited {
    color: #9400d3;
  }

  &.post-block__title {
    @extend %post-block__title;
    color: $text-color__black;
  }

  &.link-block {
    @extend %link-block__text;
  }
}
