body,
button,
input,
select,
textarea {
	@extend %body-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// @extend %body-text;
}

/*================================
=            Headings            =
================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %serif-base;
	margin: 0;
}

h1 {
	&.project__title {
		@include fontSize(42px);
		line-height: 0.9;

		@include breakpoint('sm') {
			@include fontSize(50px);
		}

		@include breakpoint('md') {
			@include fontSize(56px);
		}

		@include breakpoint('lg') {
			@include fontSize(64px);
		}

		@include breakpoint('2xl') {
			@include fontSize(72px);
		}
	}
}

h2 {
	&.home__section-title {
		@include fontSize(80px);
		line-height: 1;

		@include breakpoint('sm') {
			@include fontSize(96px);
		}

		@include breakpoint('md') {
			@include fontSize(104px);
		}

		@include breakpoint('lg') {
			@include fontSize(112px);
		}

		@include breakpoint('xl') {
			@include fontSize(134px);
		}
	}
}
.project__content h2 {
	@include fontSize(54px);
	line-height: 1;
	margin: 48px auto 32px;

	@include breakpoint('sm') {
		@include fontSize(60px);
	}

	@include breakpoint('md') {
		@include fontSize(68px);
		margin: 64px auto 32px;
	}

	@include breakpoint('lg') {
		@include fontSize(72px);
	}

	@include breakpoint('xl') {
		@include fontSize(80px);
		margin: 72px auto 32px;
	}
}

h3 {
	@include fontSize(36px);
	line-height: 1;

	@include breakpoint('sm') {
		@include fontSize(40px);
	}

	@include breakpoint('md') {
		@include fontSize(42px);
	}

	@include breakpoint('lg') {
		@include fontSize(48px);
	}

	@include breakpoint('xl') {
		@include fontSize(56px);
	}
}
.project__content h3,
.project__content h3 p {
	margin: 16px auto 24px;
}

h4 {
	@include fontSize(24px);
	line-height: 1;

	@include breakpoint('sm') {
		@include fontSize(26px);
	}

	@include breakpoint('md') {
		@include fontSize(28px);
	}

	@include breakpoint('lg') {
		@include fontSize(30px);
	}

	@include breakpoint('xl') {
		@include fontSize(32px);
	}
}

h5 {
	@include fontSize(20px);
	line-height: 1;

	@include breakpoint('sm') {
		@include fontSize(22px);
	}

	@include breakpoint('lg') {
		@include fontSize(24px);
	}
}

/*============================
=            Copy            =
============================*/

p {
	@extend %body-text;

	&.project__description {
		line-height: 1.35;
	}
}

@for $i from 2 through 6 {
	p + h#{$i},
	ul + h#{$i},
	ol + h#{$i} {
		margin-top: 2.5rem;
	}
}

.label {
	letter-spacing: 0.03em;
	font-weight: bold;
	text-transform: uppercase;
	color: $color-text-black;
	@include fontSize(13px);
	padding-bottom: 2px;
}

hr {
	clear: both;
	height: 1px;
	margin: 2rem 0;
	border: 0;
}

b,
strong {
	font-weight: 600;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

.large-text {
	@extend %large-text;
	padding-bottom: 16px;
}

/*=============================
=            Links            =
=============================*/

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease-in-out;

	&:visited {
		color: #9400d3;
	}
}

.post-block__main-title {
	@extend %serif-base;
	@include fontSize(28px);
	line-height: 1;
	text-align: center;

	@include breakpoint('sm') {
		text-align: right;
	}

	@include breakpoint('md') {
		@include fontSize(34px);
	}

	@include breakpoint('lg') {
		@include fontSize(40px);
	}

	@include breakpoint('xl') {
		@include fontSize(48px);
	}
}

.post-block__other-title {
	@include fontSize(19px);
	font-weight: bold;
	line-height: 1.15;

	@include breakpoint('md') {
		@include fontSize(20px);
	}
}

figcaption {
	@extend %figcaption;
	@include breakpoint('sm') {
		max-width: 250px;
	}
}

.project-section__subsection figcaption {
	border-top: 1px solid $color-line-white-20;
}
