.layout-page {
	background-color: $color-primary-gray-light;
}

.project__header {
	padding-top: 60px;
	width: 100vw;
	overflow-x: hidden;
	background-color: $color-primary-gray-mid;
	@include breakpoint('md') {
		padding-top: 80px;
	}

	@include breakpoint('lg') {
		padding-top: 100px;
	}

	@include breakpoint('xl') {
		padding-top: 120px;
	}

	.img-container img {
		width: 100%;
	}

	.meta-list {
		margin-top: 16px;
	}
	.content-wrapper {
		max-width: 1500px;
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
		padding-top: 0 !important;
	}

	.project-intro > div {
		padding-bottom: 40px;
	}

	.project-intro > div,
	h1 .project-intro > div,
	h1 {
		max-width: 700px;
		margin: 0 auto;

		@include breakpoint('lg') {
			margin: unset;
			padding-left: calc(#{$page-margins--lg} / 2);
		}
		@include breakpoint('xl') {
			padding-left: calc(#{$page-margins--xl} / 2);
		}
		@include breakpoint('xxl') {
			padding-left: calc(#{$page-margins--xxl} / 2);
		}
	}
}

.bg-text {
	width: 100%;
	@extend %serif-base;
	font-size: 10vw;
	color: $color-text-white-55;
	line-height: 1;
	margin-top: 40px;
	z-index: 0;
	margin-bottom: -5%;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.project__description {
	@include breakpoint('sm') {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: 'project-intro project-intro' 'details1 details2';
	}
	@include breakpoint('lg') {
		grid-template-columns: auto 300px;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'project-intro details1' 'project-intro details2';
	}
	.project-intro {
		grid-area: project-intro;
	}
	.details1,
	.details2 {
		@extend %list-border;
		margin-top: 24px;
		@include breakpoint('lg') {
			border-top: none;
		}
		& > ul > li {
			margin-bottom: 24px;
			margin-top: 24px;
		}
		.large-text {
			padding-bottom: 0;
		}
		.list-border {
			@include breakpoint('lg') {
				border-top: 1px solid $color-line-gray-30;
				padding-top: 24px;
			}
		}
	}

	.details1 {
		grid-area: details1;
		@include breakpoint('lg') {
			padding-left: 3vw;
		}
		@include breakpoint('xxl') {
			padding-left: 48px;
		}
	}
	.details2 {
		grid-area: details2;
		position: relative;

		@include breakpoint('sm') {
			padding-left: 3vw;
		}

		@include breakpoint('lg') {
			&:before {
				@include breakpoint('lg') {
					content: '';
					position: absolute;
					left: 100%;
					top: 0%;
					display: block;
					width: calc((100vw - 100%) / 2);
					height: 100%;
					background: $color-primary-gray-light;
				}
			}
			background-color: $color-primary-gray-light;
			padding-top: 16px !important;
		}
		@include breakpoint('xl') {
			padding-left: 48px;
		}
		@include breakpoint('xxl') {
			padding-left: 56px;
		}
	}
}

//@include full-width-background($color-primary-dark, 'left', true);

.featured-img {
	margin: 0;

	position: relative;
	@include breakpoint('lg') {
		background-color: $color-primary-gray-light;
	}
	&:before {
		@include breakpoint('lg') {
			content: '';
			position: absolute;
			right: 100%;
			bottom: 0%;
			display: block;
			width: calc((100vw - 100%) / 2);
			height: 20%;
			background: $color-primary-gray-light;
		}
	}
}

h1 {
	//Test
	opacity: 1;
	-o-transition: opacity 0s;
	-moz-transition: opacity 0s;
	-webkit-transition: opacity 0s;
	transition: opacity 0s;
	-webkit-animation: ink 1s steps(24);
	-moz-animation: ink 1s steps(24);
	-o-animation: ink 1s steps(24);
	-ms-animation: ink 1s steps(24);
	animation: ink 1s steps(24);
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-o-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 0.5s;
	width: 640px;
	background-image: url('../images/ink_splash.png');
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 90px !important;
	//end test
}

@-moz-keyframes ink {
	from {
		background-position: 0;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
	to {
		background-position: -15330px;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
}
@-webkit-keyframes ink {
	from {
		background-position: 0;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
	to {
		background-position: -15330px;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
}
@-o-keyframes ink {
	from {
		background-position: 0;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
	to {
		background-position: -15330px;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
}
@keyframes ink {
	from {
		background-position: 0;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
	to {
		background-position: -15330px;
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		-o-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		transform: translateZ(0px);
	}
}
