<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	{%- include head.html -%}

	<!-- <body data-barba="wrapper">
	<div data-barba="container" data-barba-namespace="{% if page.url != '/' %}detail{% else %}home{% endif %}"
		data-namespace="{% if page.url != '/' %}detail{% else %}index{% endif %}" style="visibility: visible;"> -->
	<body class="{{ page.layout | slugify | prepend: 'layout-'}}">
		{%- include header.html -%}
		<main class="page-content" aria-label="Content">
			{{ content }}
		</main>

		{%- include footer.html -%}
	</body>
</html>
