---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-block_container">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <span class="post-block_date">{{ post.date | date: date_format }}</span>
      <h3>
        <a
          class="post-block_title"
          id="{{ post.title | url_encode }}"
          href="{{ post.url | relative_url }}"
        >
          {{ post.title | escape }}
        </a>
      </h3>
      <a
        class="post-block_img intro-thumb"
        href="{{ post.url | relative_url }}"
      >
        <img
          class="full"
          src="https://images.unsplash.com/photo-1560391243-e6431f0fa114?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
        />
      </a>

      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</div>
