---
layout: default
---

<div class="home">
  {{ content }} Test {{ site.projects.size }} again
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  {{ home.intro }}
  <ul class="post-block_container">
    {% assign posts = site.posts | sort %} {% for post in posts-%}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-block_date">{{ post.date | date: date_format }}</span>
      <h3>
        <a
          class="post-block_title"
          id="{{ post.title | url_encode }}"
          href="{{ post.url | relative_url }}"
        >
          {{ post.title | escape }}
        </a>
      </h3>
      <a
        class="post-block_img intro-thumb"
        href="{{ post.url | relative_url }}"
      >
        <img class="full" src="{{ post.feature_img }}" />
      </a>

      {% if site.show_excerpts %} {{ post.excerpt }} {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
