---
layout: default
---

<article class="project" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="project__header content-wrapper ">

		<h1 class="project__title" itemprop="name headline">
			{{ page.title | escape }}
		</h1>
		<div class="project__org">
			<ul class="meta-list">
				<li>{{ page.org1 }}</li>
				<li>{{ page.org2 }}</li>
			</ul>
		</div>
		<p class="project__description">{{ page.description }}</p>
		{% assign project = page %} {% include btn-launch.html %}
		{%- include project-details.html -%}
	</header>
	<section class="project__img-container">
		<img src="{{ project.cover_image | relative_url }}" alt="Venus on Screen Illustration"
			title="Venus on Screen Illustration" />
	</section>

	<section class="project__content project-content content-wrapper" itemprop="articleBody">
		{{ content }}
	</section>

	<section class="project__footer">
		{% include post-block-next.html %}
	</section>
</article>
